{% extends "archive/base.html" %}
{% block content %}    
    <form method='POST'>
        {% csrf_token %}
        <div class="form-group mt-2 mb-2">
            <h1>Confirm Deletion: {{ object.tool_title }}</h1>
            <small class="text-secondary">{{ object.tool_id }}</small>
        </div>
        <div class="form-group mt-2 mb-2">
            <button name="delete-admintool" class="btn btn-outline-danger" type="submit">Yeet</button>
            <a class="btn btn-outline-secondary" href="{% url 'admintools-home' %}">Cancel</a>
        </div>
    </form>
{% endblock content %}