{% extends "archive/base.html" %}
{% block content %}    
    <form method='POST'>
        {% csrf_token %}
        <div class="form-group mt-2 mb-2">
            <h1>Confirm Deletion</h1>
            <p>{{ object.admintool.tool_title }} running every {{ object.sleep_seconds }} seconds</p>
        </div>
        <div class="form-group mt-2 mb-2">
            <button name="delete-deployment" class="btn btn-outline-danger" type="submit">Yeet</button>
            <a class="btn btn-outline-secondary" href="{% url 'admintools-deploy' %}">Cancel</a>
        </div>
    </form>
{% endblock content %}