{% extends "archive/base.html" %}
{% block content %}
    <h1>Admin Tools Deployments</h1>
    <a class="btn btn-outline-primary mt-2 mb-2" href="{% url 'admintools-deploy-create' %}">Create new deployment</a>

    {% if deployments %}
        {% for deployment in deployments %}
            <div class="card text-white bg-dark mt-2 mb-2">
                <div class="card-header"><b>{{ deployment.admintool.tool_id }}</b></div>
                <div class="card-body">
                    <h3 class="card-title text-white"><b>{{ deployment.admintool.tool_title }}</b></h3>
                    <small class="card-text">{{ deployment.admintool.tool_description }}</small><br>
                    <small class="card-text">Running every {{ deployment.sleep_seconds }} seconds</small>
                </div>
                <div class="card-footer">
                    <a class="btn btn-danger mt-2 mb-2" href="{% url 'admintools-deploy-delete' pk=deployment.pk %}">Terminate</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="card-text"> No deployments found</p>
    {% endif %}

{% endblock content %}