{% extends "archive/base.html" %}
{% block content %}
    <h1>{{ object.tool_title }}</h1>
    <small class="text-secondary">ID: {{ object.tool_id }}</small>
    <h4 class="text-dark">{{ object.tool_description }}</h4>

    <div style="float:left;width:100%;">
        <input id="{{ object.tool_id }}" type="button" class="btn btn-outline-primary mt-2 mb-2" onclick="sendToolId(this.id);" value="Run">
        <a class="btn btn-outline-danger" href="{% url 'admintools-delete' tool_id=object.tool_id %}">Delete</a>
        <h3>Source code:</h3>
        <textarea readonly id="script-source" class="script-input" rows=20>{{ script_text }}</textarea>
        <textarea readonly id="console-stdout" class="console-stdout-display" rows=20>Console output</textarea>
    </div>

    <script>
        const admintoolsHomeConsoleSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/admintools-home-console/'
        );

        admintoolsHomeConsoleSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#console-stdout').value += (data.message);
        };

        admintoolsHomeConsoleSocket.onclose = function(e) {
            console.error('Console socket closed unexpectedly');
        };

        function sendToolId(tool_id) {
            admintoolsHomeConsoleSocket.send(JSON.stringify({'tool_id': tool_id}))
            var field= document.getElementById('console-stdout');
            field.value= '';
        };
    </script>
{% endblock content %}