{% extends "archive/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Admin Tool Playground</h1>
    <form method="POST" id="deployForm">
        {% csrf_token %}

        <div style="float:left;width:100%;">
            <textarea id="script-text-input" name="script-text" class="script-input" placeholder="Code it!" rows=20></textarea>
            <input id="run-script-text" type="button" class="btn btn-primary mt-2 mb-2" value="Run">
            <input type="reset" class="btn btn-secondary-outline mt-2 mb-2" value="Reset">
            <textarea readonly id="dev-console-stdout" class="console-stdout-display" placeholder="Console output" rows=20></textarea>
        </div>

        <h2>Ready for deployment?</h2>
        {{ form | crispy }}
        <button class="btn btn-outline-success mt-2 mb-2" type="submit">Ship it!</button>
    </form>

    <script>
        const consoleSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/admintools-develop-console/'
        );

        consoleSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#dev-console-stdout').value += (data.message);
        };

        consoleSocket.onclose = function(e) {
            console.error('Console socket closed unexpectedly');
        };

        document.querySelector('#script-text-input').focus();
        document.querySelector('#script-text-input').onkeyup = function(e) {
            if (e.ctrlKey && e.keyCode == 13) {  // enter, return
                document.querySelector('#run-script-text').click();
            }
        };

        document.querySelector('#run-script-text').onclick = function(e) {
            const scriptTextInputDom = document.querySelector('#script-text-input');
            const scriptText = scriptTextInputDom.value
            consoleSocket.send(JSON.stringify({'script_text': scriptText}))
            var field= document.getElementById('dev-console-stdout');
            field.value= field.defaultValue;
        };
    </script>
{% endblock content %}