{% extends "archive/base.html" %}
{% block content %}
    <h1>Admin Tools</h1>
    <div style="float:left;width:100%;">
        <textarea readonly id="console-stdout" class="console-stdout-display" rows=20>Console output</textarea>
    </div>

    <div class="card admintools-overview-card">
        <div class="card-body">
            <h3 class="card-title"><b>Admin tool title</b></h3>
            <p class="card-text">Admin tool description</p>
            <input id="run-admintool-a" type="button" class="btn btn-primary mt-2 mb-2" value="Run">
            <a class="btn btn-secondary mt-2 mb-2" href="#">Detail</a>
        </div>
    </div>
    <div class="card admintools-overview-card">
        <div class="card-body">
            <h3 class="card-title"><b>Admin tool title</b></h3>
            <p class="card-text">Admin tool description</p>
            <input id="run-admintool-b" type="button" class="btn btn-primary mt-2 mb-2" value="Run">
            <a class="btn btn-secondary mt-2 mb-2" href="#">Detail</a>
        </div>
    </div>
    <div class="card admintools-overview-card">
        <div class="card-body">
            <h3 class="card-title"><b>Admin tool title</b></h3>
            <p class="card-text">Admin tool description</p>
            <input id="run-admintool-c" type="button" class="btn btn-primary mt-2 mb-2" value="Run">
            <a class="btn btn-secondary mt-2 mb-2" href="#">Detail</a>
        </div>
    </div>
{% endblock content %}