{% extends "archive/base.html" %}
{% block content %}
    <h1>Admin Tools</h1>
    <a class="btn btn-outline-primary mt-2 mb-2" href="{% url 'admintools-develop' %}">Develop</a>
    <div style="float:left;width:100%;">
        <textarea readonly id="console-stdout" class="console-stdout-display" rows=20>Console output</textarea>
    </div>

    {% if admin_tools %}
        {% for admin_tool in admin_tools %}
            <div class="card admintools-overview-card">
                <div class="card-body">
                    <h3 class="card-title"><b>{{ admin_tool.tool_title }}</b></h3>
                    <p class="card-text">{{ admin_tool.tool_description }}</p>
                    <input id="{{ admin_tool.tool_id }}" type="button" class="btn btn-primary mt-2 mb-2" onclick="sendToolId(this.id);" value="Run">
                    <a class="btn btn-secondary mt-2 mb-2" href="{% url 'admintools-detail' tool_id=admin_tool.tool_id %}">Detail</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="card-text"> No tools available </p>
    {% endif %}
    <script>
        const admintoolsHomeConsoleSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/admintools-home-console/'
        );

        admintoolsHomeConsoleSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#console-stdout').value += (data.message);
        };

        admintoolsHomeConsoleSocket.onclose = function(e) {
            console.error('Console socket closed unexpectedly');
        };

        function sendToolId(tool_id) {
            admintoolsHomeConsoleSocket.send(JSON.stringify({'tool_id': tool_id}))
            var field= document.getElementById('console-stdout');
            field.value= '';
        };
    </script>

{% endblock content %}